/* CONSTRUCTION PAGE CSS */
.construction-body {
    background-color:rgba(217,216,214,.5);
}

.flex-logo {
    margin-top: 50px;
}

.headline {
    font-family: brandon-grotesque, sans-serif;
    color: #143c57;
    text-transform: uppercase;
    padding-top: 50px;
}

.p-con {
    font-family: brandon-grotesque, sans-serif;
    color: #143c57;
    padding-top: 50px;
    font-size: 1.5em;
    text-transform: uppercase;

}

.policy-link {
    font-family: brandon-grotesque, sans-serif;
    color:#143c57;
    text-transform: uppercase;
}

.policy-link:hover {
    text-decoration: none;
    color:#143c57;
}

.policy-div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.privacy-header {
    font-family: brandon-grotesque, sans-serif;
    color:#143c57;
    text-transform: uppercase;

}

.privacy-policy {
    font-family: brandon-grotesque, sans-serif;
    color:#143c57;
    text-align: justify;
    /* font-size: 1.25em; */
}

/* HOME PAGE */

.container-fluid {
    min-height: 100%;
}

body, html {
    height: 100%;
}

.flex-headline {
   
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.75em;
    text-transform: uppercase;
    color: white;
    text-align: left;
   
}

.header {
    background-image: linear-gradient(to right, #143c57, #3F738D);
    padding: 50px;
}

.header-logo {
    padding-left: 25px;
}

/* NAVIGATION */

.nav {
    padding-top: 50px;
    font-family: brandon-grotesque, sans-serif;
}

.nav-link {
    color: #143c57;
    padding-right: 50px;
    font-size: 1.75em;
}

.nav-link:hover {
    color: #3F738D;
    font-size: 2.5em;
    padding-right: 25px;
}

/* FOOTER */

footer {
    background-color: #d9d8d6;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 25px;
}